@using triptravel.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center" style="color: #00bcd4; margin-bottom: 20px;">Yorum Listesi</h2>

<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Mail</th>
            <th scope="col">Yorum</th>
            <th scope="col">Blog</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.KullaniciAdi</td>
                <td>@x.Mail</td>
                <td>@x.Yorum</td>
                <td>@x.Blog.Baslik</td>
                <td>
                    <a href="/Admin/YorumSil/@x.ID" class="btn btn-danger btn-sm" onclick="return confirm('Bu yorumu silmek istediğinizden emin misiniz?')">Sil</a>
                </td>
                <td>
                    <a href="/Admin/YorumGetir/@x.ID" class="btn btn-warning btn-sm">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
